﻿{% extends "header.html" %}
{% load static %}
{% block content %}


			<!-- Page Wrapper -->
			<div class="page-wrapper">
				
				<!-- Page Content -->
				<div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Employee</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
									<li class="breadcrumb-item active">Employee</li>
								</ul>
							</div>
							<div class="col-auto float-right ml-auto">
								<a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Employee</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Search Filter -->
					<form id="search-form" method="GET" action="{% url 'employees_serch' %}">
						<div class="row filter-row">
							<div class="col-sm-6 col-md-3">
								<div class="form-group form-focus">
									<input type="text" class="form-control floating" name="employee_id" id="employee_id1">
									<label class="focus-label">Employee ID</label>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group form-focus">
									<input type="text" class="form-control floating" name="employee_name" id="employee_name">
									<label class="focus-label">Employee Name</label>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group form-focus select-focus">
									<select class="select floating" name="designation" id="designation">
										<option disabled selected>Select Designation</option>
										<option>Web Designer</option>
										<option>Web Developer</option>
										<option>Android Developer</option>  
										<option>Backend Developer</option>
									</select>
									<label class="focus-label">Designation</label>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<button type="submit" class="btn btn-success btn-block"> Search </button>
							</div>
						</div>
					</form>
					<!-- /Search Filter -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table datatable">
									<thead>
										<tr>
											<th>Name</th>
											<th>Employee ID</th>
											<th>Email</th>
											<th>Mobile</th>
											<th class="text-nowrap">Join Date</th>
											<th>Department</th>
											<th class="text-right no-sort">Action</th>
										</tr>
									</thead>
									<tbody>
										{% if employees %}
										{% for emp in employees %}
											<tr>
												<td>
													<h2 class="table-avatar">
														<a href="profile.html" class="avatar"><img alt="" src="{% static 'assets/img/profiles/avatar-02.jpg' %}"></a>
														<a href="profile.html">{{ emp.first_name }} {{ emp.last_name }}<span>{{ emp.designation }}</span></a>
													</h2>
												</td>
												<td>{{ emp.employee_id }}</td>
												<td><a href="mailto:{{ emp.email }}">{{ emp.email }}</a></td>
												<td>{{ emp.phone }}</td>
												<td>{{ emp.joining_date }}</td>
												<td>{{ emp.department }}</td>
												<td class="text-right">
													<div class="dropdown dropdown-action">
														<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
														<div class="dropdown-menu dropdown-menu-right">
															<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_employee_{{ emp.id }}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
															<a class="dropdown-item" href="{% url 'delete_employee' id=emp.id %}" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
														</div>
													</div>
												</td>
											</tr>

											<!-- Delete Employee Modal -->
											<div class="modal custom-modal fade" id="delete_employee" role="dialog">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
														<div class="modal-body">
															<div class="form-header">
																<h3>Delete Employee</h3>
																<p>Are you sure want to delete?</p>
															</div>
															<div class="modal-btn delete-action">
																<div class="row">
																	<div class="col-6">
																		<a href="{% url 'delete_employee' id=emp.id %}" class="btn btn-primary continue-btn">Delete</a>
																	</div>
																	<div class="col-6">
																		<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										<!-- /Delete Employee Modal -->

										<!-- Edit Employee Modal -->
										<div id="edit_employee_{{ emp.id }}" class="modal custom-modal fade" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Edit Employee</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<form action="{% url 'update_employee' emp.id %}" method="POST">
															{% csrf_token %}
															<div class="form-group">
																<label>First Name <span class="text-danger">*</span></label>
																<input class="form-control" name="first_name" value="{{ emp.first_name }}" type="text" required>
															</div>
															<div class="form-group">
																<label>Last Name <span class="text-danger">*</span></label>
																<input class="form-control" name="last_name" value="{{ emp.last_name }}" type="text" required>
															</div>
															<div class="form-group">
																<label>Email <span class="text-danger">*</span></label>
																<input class="form-control" name="email" value="{{ emp.email }}" type="email" required>
															</div>
															<div class="form-group">
																<label>Department <span class="text-danger">*</span></label>
																<select class="select" name="department" required>
																	<option disabled>Select Department</option>
																	{% for department in departments %}
																	<option value="{{ department.id }}" {% if department.id == emp.department.id %} selected {% endif %}>
																		{{ department.department }}
																	</option>
																	{% endfor %}
																</select>
															</div>
															<div class="form-group">
																<label>Designation <span class="text-danger">*</span></label>
																<select class="select" name="designation" required>
																	<option disabled>Select Designation</option>
																	{% for designation in designations %}
																	<option value="{{ designation.id }}" {% if designation.id == emp.designation.id %} selected {% endif %}>
																		{{ designation.designation }}
																	</option>
																	{% endfor %}
																</select>
															</div>
															<div class="submit-section">
																<button class="btn btn-primary submit-btn">Save</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
										<!-- /Edit Employee Modal -->
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
							
				<!-- Add Employee Modal -->
				<div id="add_employee" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Employee</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form method="post" action="{% url 'employees_list' %}">
									{% csrf_token %}
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">First Name <span class="text-danger">*</span></label>
												<input class="form-control" type="text" name="first_name" id="first_name">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Last Name</label>
												<input class="form-control" type="text" name="last_name" id="last_name">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Username <span class="text-danger">*</span></label>
												<input class="form-control" type="text" name="username" id="username" readonly>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Email <span class="text-danger">*</span></label>
												<input class="form-control" type="email" name="email">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Password</label>
												<input class="form-control" type="password" name="password">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Confirm Password</label>
												<input class="form-control" type="password" name="cpassword">
											</div>
										</div>
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
												<input type="text" class="form-control" name="employee_id" id="employee_id" readonly>
											</div>
										</div>
										<div class="col-sm-6">  
											<div class="form-group">
												<label class="col-form-label">Joining Date <span class="text-danger">*</span></label>
												<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="joining_date"></div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Phone </label>
												<input class="form-control" type="text" name="phone">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<label class="col-form-label">Company</label>
												<select class="select" name="company">
													<option disabled selected>Select Company</option>
													<option value="Delta">Delta</option>
													<option value="infotech">Infotech</option>
													<option value="TCS">TCS</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Department <span class="text-danger">*</span></label>
												<select class="select" name="department">
													<option disabled selected>Select Department</option>
													{% for department in departments %}
													<option value="{{ department.id }}">{{ department.department }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Designation <span class="text-danger">*</span></label>
												<select class="select" name="designation">
													<option disabled selected>Select Designation</option>
													{% for designation in designations %}
													<option value="{{ designation.id }}">{{ designation.designation }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<!-- /Add Employee Modal -->
				
				
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

		<!--script-->
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				function generateEmployeeId() {
					return 'EMP' + Math.floor(Math.random() * 10000);
				}
		
				function generateUsername(firstName, lastName) {
					const firstPart = firstName.slice(0, 3).toUpperCase();
					const lastPart = lastName.slice(-3).toUpperCase();
					const randomNum = Math.floor(Math.random() * 100);
					return firstPart + lastPart + randomNum;
				}
		
				function updateFields() {
					const firstName = document.getElementById('first_name').value;
					const lastName = document.getElementById('last_name').value;
		
					if (firstName && lastName) {
						document.getElementById('employee_id').value = generateEmployeeId();
						document.getElementById('username').value = generateUsername(firstName, lastName);
					} else {
						document.getElementById('employee_id').value = '';
						document.getElementById('username').value = '';
					}
				}
		
				document.getElementById('first_name').addEventListener('input', updateFields);
				document.getElementById('last_name').addEventListener('input', updateFields);
		
				$('#add_employee').on('show.bs.modal', function() {
					document.getElementById('employee_id').value = '';
					document.getElementById('username').value = '';
				});
			});
		</script>
		<!--/script-->
{% endblock  %}